* {
    box-sizing: border-box;
}

/* Propiedades/Variables Personalizadas */
:root {
    --a-color: white;
    --bg-nav-enlace: #086ed7;
    --bg-boton-1:#086ed7;
    --bg-boton-2: #086ed7;
}

body {
    background: #66b3e3;
}

/* Estilos Barra de Navegacion */
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 75px;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: var(--a-color);
    font-weight: 400;
}

.nav-boton {
    background-color: var(--bg-boton-2);
    border: 0;
    border-radius: 5px;
    margin: 0px 8px;
}

.nav-boton-a {
    color: white;
    display: block;
    padding: 8px 14px;
}

.contendor-menu {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 70px;
    /* margin-left: -20%; */
}

.nombre-pagina {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 35px;
}

.nav-enlace {
    margin: 0px 10px;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 5px 10px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    transition: all 300ms ease;
    display: block;
    border-radius: 3px;
    -youbkit-touch-callout: none;
    /*iOS Safari*/
    -youbkit-user-select: none;
    /* Chrome 6.0+, Safari 3.1+, Edge y Opera 15+ */
    -moz-user-select: none;
    /*Firefox*/
    -ms-user-select: none;
    /* IE 10+ y Edge */
    user-select: none;
}

.nav-enlace:hover {
    transform: scale(1.1);
    background-color: var(--bg-nav-enlace);
    color: white;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.nav-enlace-subrayado {
    border-bottom: 1px solid var(--a-color);
    border-radius: 0;
    height: 28px;
    padding: 0;
    margin-top: 6px;
}

.nav-enlace-subrayado:hover {
    background: transparent;
    color: var(--a-color);
    transform: none;
    box-shadow: none;
    font-weight: 600;
    border-bottom: 2px solid var(--a-color);
}

.div-enlaces {
    margin: 0px 20px;
    display: flex;
}

.nav-enlace-seleccionado {
    transform: scale(1.1);
    background-color: var(--bg-nav-enlace);
    color: white;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.contendor-submenu {
    position: relative;
    display: flex;
    flex-direction: column;
}

.submenu {
    position: absolute;
    top: 40px;
    background-color: white;
    padding: 10px 0;
    width: 150px;
    visibility: hidden;
    transition: all 300ms ease-in;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    font-family: "Lato", sans-serif;
}

.submenu:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

.contendor-submenu:hover .submenu {
    visibility: visible;
    top: 45px;
}

.nav-enlace-submenu {
    display: block;
    font-size: 18px;
    padding: 5px 15px;
    transition: all 300ms ease;
    border-radius: 5px;
    color: black;
}

.nav-enlace-submenu:hover {
    padding-left: 10px;
    background-color: var(--bg-nav-enlace);
    color: white;
    transform: scale(1.1);
}

/* Fin estilos Barra de Navegacion */

#formulario {
    width: 800px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background: white;
    font-family: "Poppins", sans-serif;
    padding-bottom: 30px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.formulario-imagen {
    width: 100%;
}

.formulario-titulo {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    padding: 5px 20px;
    font-weight: 600;
}

.formulario-grupo {
    padding-left: 50px;
}

.formulario-label {
    font-size: 17px;
    margin-bottom: 5px;
}

.formulario-textarea {
    width: 92%;
    border: 2px solid black;
    padding: 5px;
    letter-spacing: 1px;
}

.formulario-btn-submit {
    margin-left: 50px;
    margin: auto;
    margin-top: 10px;
    background: var(--bg-boton-2);
    border: transparent;
    color: white;
    width: 120px;
    border-radius: 5px;
    display: block;
    padding: 8px 15px;
}